#JGit Configuration
jgit_username=your_username
jgit_password=your_password

#Email Configuration
email_username=your_email@example.com
email_password=your_password
email_host=smtp.example.com
email_port=587
email_auth=true
email_tls=true

#General Configuration
is_push_enabled=false